body {
    text-align: center;
    color: #2e2e2e;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    background: #ffffff;
}
.contenu{
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.2);
}

.header1{
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    transition: all .5s;
}
.scroll{
    margin: 0 auto;
}
#headericonhome{
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
}
#headerlinklist{
    float: right;
    display: inline-block;
    width: auto;
}










.main{
    text-align: center;
    padding: 0;
    background: url(//3.bp.blogspot.com/-3UcLXxRcetg/WaTYDnjaJbI/AAAAAAAADt0/LL7OaZTjsE4hTzpKkm-Jj55c8JI4SZBhQCK4BGAYYCw/s1600/head-back.jpg) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
